{
  "extends": ["google"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off",
    "indent": "off"
  }
}
